<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>

    <!-- To make jib prefix available for maven tasks -->
    <pluginGroups>
      <pluginGroup>com.google.cloud.tools</pluginGroup>
    </pluginGroups>

    <server>
      <id>docker.io</id>
      <username>${env.DOCKER_HUB_USERNAME}</username>
      <password>${env.DOCKER_HUB_PASSWORD}</password>
    </server>

    <server>
      <id>helm-dev</id>
      <username>${env.HELM_SNAPSHOT_USERNAME}</username>
      <password>${env.HELM_SNAPSHOT_PASSWORD}</password>
    </server>

    <server>
      <id>helm-stable</id>
      <username>${env.HELM_STABLE_USERNAME}</username>
      <password>${env.HELM_STABLE_PASSWORD}</password>
    </server>

    <server>
      <id>axamit.webteam.dev</id>
      <username>${env.ARTIFACTORY_STAGING_USERNAME}</username>
      <password>${env.ARTIFACTORY_STAGING_PASSWORD}</password>
    </server>

    <server>
      <id>axamit.webteam.prod</id>
      <username>${env.ARTIFACTORY_PROD_USERNAME}</username>
      <password>${env.ARTIFACTORY_PROD_PASSWORD}</password>
    </server>

  </servers> 
  <localRepository>${env.MAVEN_REPO}</localRepository>
</settings>
